@model List<ContactModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Contacts</h2>

<a class = "btn btn-primary" asp-action="Add" asp-controller="Contact">Add contact</a>
<h4>Contacts list</h4>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Priority)
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var entry in @Model)
    {
        <tr>
            <td>
                @entry.FirstName
            </td>
            <td>
                @entry.LastName
            </td>
            <td>
                @entry.Priority
            </td>
            <td>
                <div>
                    <a class = "btn btn-primary">Edit</a>
                    <a class = "btn btn-secondary">Details</a>
                    <a class = "btn btn-danger" asp-action="Delete" asp-route-id=@entry.Id>Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
    
</table>
